/*************
General 
*************/

body{
 font-family: Arial, Verdana, sans-serif;
}
#wrapper {
  max-width: 100%;
  margin: 0px auto;
  padding: 0 0;
}


a {
 text-decoration:none;
}

img {
  max-width: 100%; 
}

h3{
  margin: 0 0 0 0;
}
/*************
Heading
*************/

header{
  float: left;
  margin: 0 0 60px 0;
  padding: 20% 0 20% 0;
  width: 100%;

}
.logo {
 text-align: center;
  margin: 0;

}

h1{
 font-family: 'Bitter', serif; 
  margin: 15px 0;
  font-size: 3em;
  font-weight:: normal;
  line-height: 1em;
}

h2{
  font-family: 'Bitter', serif;
 font-size::0.75em;
  margin: 5px 0 0;
  font-weight:normal;
}


h3{
  font-family: 'Bitter', serif;
 font-size::0.75em;
  margin: 5px 0 0;
  font-weight:normal;
}

h4{
 font-size::0.75em;
  margin: 5px 0 0;
  font-weight:normal;
}

/*************
NAvigation
*************/
nav {
 text-align: center;
  padding:7px 0;
  margin:20px 0 0;
  
}

nav ul{
 list-style: none;
  margin: 10px 10px;
  padding: 0 ;
  
  
}

nav li{
  display: inline-block;
}

nav a {
   text-transform: uppercase;
 font-weight:700;
 font-size:1em;
  padding: 2px 10px;
}

/*************
Footer
*************/
Footer{
  
 font-size:0.75.em;
  text-align:center;
  clear: both;
  padding-top: 50 px;
  color: #000;
}

.social-icon{
 width: 20px;
  height:20px;
  margin: 0 5px;
}
/*************
PAGE: General Info and Schedule
*************/
.frege-pic{

  display:block;
   width: 70%;
  margin:0 auto 30px;
  padding: 5%;
}
/*Table properties*/
table{
  margin: 30px auto 3px;

  max-width: 70%;
}

th, td{
  padding:7px 10px 10px 10px;
}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
background-color: #efefef;}

tr.even {
  background-color: #efefef;}

tr:hover {
  background-color: #c3e6e5;}

.content{

  text-align: center;
}

/*************
Color 
*************/


/* site body */

body {
 background-color:#fff;
  color:#000;
}

/*Black Header*/
header{
    background: #000;
    border-color: #000;
}


/*nav background on mbile*/
nav {
 background-color: #666;
}

/*logo text*/
h1, h2 {
 color:#fff; 
}

h3, h4 {
 color:#fff; 
}

/*link*/
a { 
 color: #22e; 

}

/*color for nav link*/
nav a, nav a:visited {
 background-color: #666;
}

/*selected nav link color*/

nav a.selected, nav a:hover {
 color: #fff; 
}
header {
  background-image: url("cssimg/fregebw.png");

  background-attachment: fixed;
}


body {
  background-image: url("cssimg/art.png");
  background-repeat: no-repeat;;
  background-attachment: fixed;
  background-position: right;
}
/*************
PAGE: ABOUT
*************/
.sechead{
 color: #000;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
    font-weight:bold;
}

.secheadw{
 color: #000;
 background-color: #999;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 20px 0;
  margin: 20px 0 50px 0;
    font-weight:bold;

}


.sylhead{
 color: #fff;
  list-style: none;
  font-weight:bold;
  font-size: 100%;
}

.sylbody{
 color: #fff;
  list-style: none;
  font-size::50%;
    font-weight:normal;
}

#about{
  float: left;
  margin: 200px 0;
  padding: 10%;
  max-width: 100%;
  color:#fff;
  background-color: #000;
   background-image: url("cssimg/fregebw.png");

  background-attachment: fixed;
}


/*************
PAGE: POlICIES
*************/
.col1{
  width: 50%;
  float: left;
  margin: 20px;
  padding: 25px;
  background-color: #999;
}
.col2 {
  width: 50%;
  float: right;
  margin: 20px;
  padding: 25px;
  background-color: #999;
}
.col1:hover,.col2:hover,.col3:hover {
  background-color: #c3e6e5;}


#policies{
    padding: 10%;
}

#policiest{
    margin: 70px auto;
}

td a:hover {
  color: #f00; }

